# Ignore node_modules directory
/node_modules/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore compiled output
dist/
build/

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore log files
*.log

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db